.row-map-mobile.warsaw
    .col-map
        img.img-fluid(src='/images/map_warsaw_mobile.jpg' alt='')
    .col-info
        .row-info
            .col-icon
                img.img-fluid(src='/images/icons/warsaw/map_icon_tower.svg' alt='')
            .col-desc
                h3.nr 660
                .nr-desc sprzedanych mieszka&nacute;
        .row-info
            .col-icon
                img.img-fluid(src='/images/icons/warsaw/map_icon_warsaw.svg' alt='')
            .col-desc
                h3.nr
                    span.nr-lower inwestycje w
                    | 5
                .nr-desc dzielnicach Warszawy
        .row-info
            .col-icon
                img.img-fluid(src='/images/icons/warsaw/map_icon_lublin.svg' alt='')
            .col-desc
                h3.nr
                    | 2
                    span.nr-lower inwestycje w
                .nr-desc inwestycje w Lublinie
