.row-map-mobile.poland
    .col-map
        img.img-fluid(src='/images/o_napollo_mapa_inwestycje.jpg' alt='')
    .col-info
        .row-info
            .col-icon
                img.img-fluid(src='/images/icons/poland/map_icon_bag.svg' alt='')
            .col-desc
                h3.nr 13
                .nr-desc park&oacute;w handlowych
        .row-info
            .col-icon
                img.img-fluid(src='/images/icons/poland/map_icon_cart.svg' alt='')
            .col-desc
                h3.nr 3
                .nr-desc galerie handlowe
        .row-info
            .col-icon
                img.img-fluid(src='/images/icons/poland/map_icon_passage.svg' alt='')
            .col-desc
                h3.nr 3
                .nr-desc pasa&zdot;e handlowe
        .row-info
            .col-icon
                img.img-fluid(src='/images/icons/poland/map_icon_building.svg' alt='')
            .col-desc
                h3.nr
                    | 100
                    span.sufix tys.
                .nr-desc mkw. GLA do 2020 r.
        .row-info
            .col-icon
                img.img-fluid(src='/images/icons/poland/map_icon_wear.svg' alt='')
            .col-desc
                h3.nr 100
                .nr-desc sta&lstrok;ych najemc&oacute;w
        .row-info
            .col-icon
                img.img-fluid(src='/images/icons/poland/map_icon_people.svg' alt='')
            .col-desc
                h3.nr 1,6mln
                .nr-desc wizyt miesi&eogon;cznie
