link(rel="stylesheet" type="text/css" href="/css/photoswipe.css")
link(rel="stylesheet" type="text/css" href="/css/default-skin/default-skin.css")
link(rel='stylesheet' href='/css/dist/'+assetsConfig.cssFileName)
